:root {
    --primary-color: #FB37A3;
    --secondary-color: #FD9DD1;
    --info-color: #FFFFFF;
  }

* {
    max-width: 600px;
}

#nav-bar {
    justify-content: space-between;
    display: flex;
    padding: 1rem;
    background-color: rgba(52, 52, 52, 1);
}

#nav-bar #logo {
    width: 7rem;
    height: 3rem;
    object-fit: contain;
    background-color: transparent;
}

#profile-image {
    width: 3rem;
    padding: 0.2rem;
}

#profile-image-container {
    display:flex;
    align-items:center;
    justify-content:center;
}
  
.gradient-border.background-image {
    border-radius:50%;
    background-image:linear-gradient(to right, rgba(251, 55, 163, 1), rgba(249, 209, 233, 1));
    background-origin:border-box; 
    background-clip:padding-box, border-box;
}

#bell-icon {
    font-size: 2.5rem;
    width: 3rem;
}

#nav-menus {
    display: flex;
    align-items: center;
    width: 9rem;
    justify-content: space-evenly;
    
}

#menu-appbar {
    text-align: center;
}

.dropdown-icon {
    padding-right: 10px;
}

#gps-top {
    display: flex;
    justify-content: center;
}

#gps-bottom {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0;
}

#refresh-container {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.alarm-read-item {
    border-top: #FB37A3 2px solid;
    margin: 0.2rem;
    background-color: rgba(242, 244, 248, 1);
}

.alarm-item {
    border-top: rgba(105, 112, 119, 1) 2px solid;
    margin: 0.2rem;
}

#alarm-check-all {
    display: flex;
    justify-content: end;
}

#alarm-time {
    font-size: 10px;
}

#rank-1-idol {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    width: 15rem;
}

#rank-23-idol {
    display: flex;
    flex-direction: column;
}

#rank-2-idol {
    display: flex;
}

#rank-3-idol {
    display: flex;
}

#chart-container {
    display: flex;
}

#rank-1-image {
    margin: 1rem;
}

.rank-23-image {
    margin: 0.5rem;
}

#chart-time {
    font-size: 12px;
    color: gray;
}

.chatlist-item {
    border: 1px solid grey;
    margin: 0.2rem;
    border-radius: 10px;
}

#chat-alarm-icon {
    padding: 1rem 1rem 1rem 0;
}

#notice-content {
    display: flex;
    border: var(--primary-color) solid 1px;
    border-radius: 10px;
    margin: 1rem;
}

#notice-title {
    min-width: fit-content;
    padding-right: 1rem;
}

#chat-notice {
    display: flex;
    
}

#notice-icon {
    padding-top: 1rem;
}

#user-input {
    padding: 1rem;
    max-width: 44rem;
    margin: 5rem auto;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    background: white;
  }