<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script type="module" src="/firebase-messaging-sw.js"></script>
    <script>
        Notification.requestPermission().then(permission => {
            if (permission === 'granted') {
                console.log('Notification permission granted.');
                getToken(messaging, { vapidKey: 'AIzaSyD-iDPmb0MyrFHqdEKVdaFs9V9vT4Rc-2w' })
                    .then((currentToken) => {
                        if (currentToken) {
                            console.log(currentToken);
                            document.getElementById('token').textContent = currentToken;
                        } else {
                            console.log('No registration token available. Request permission to generate one.');
                        }
                    }).catch((err) => {
                    console.log('An error occurred while retrieving token. ', err);
                });
            } else {
                Notification.requestPermission(permission => {
                    if(permission === 'granted') {
                        send_notification();
                    }
                })
                console.log('Permission denied');
            }
        }).catch((err) => {
            console.log('Unable to get permission to notify.', err);
        });
    </script>
</head>
<body>
<br>
<h1>메인 페이지</h1>
<div id="token"></div>
</body>
</html>